{% extends 'layout.html' %}
{% block content %}
<form class="row g-3" method="GET" action="search">
<div class="col-md-6">
<label for="inputEmail4" class="form-label">Search</label>
<input type="text" class="form-control" id="inputEmail4" name="inputEmail4">
</div>
<div class="col-12">
<button type="submit" class="btn btn-primary">Search Questions</button>
</div>
</form>
  {% for post in posts.items %}
      <article class="media content-section">
        <!-- <img class="rounded-circle article-img" src="{{ url_for('static',filename = 'profile_pics/' + post.author.image_file) }}"> -->
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('user_questions',username=post.author.name) }}">{{ post.author.name }}</a>
            <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>
          </div>
          <h2><a class="article-title" href="{{ url_for('question',question_id = post.id) }}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
  {% endfor %}
  {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
    {% if page_num %}
      {% if posts.page == page_num %}
        <a class="btn btn-info mb-4" href="{{url_for('all_questions',page=page_num)}}">{{page_num}}</a>
      {% else %}
        <a class="btn btn-outline-info mb-4" href="{{url_for('all_questions',page=page_num)}}">{{page_num}}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock content %}
